extends layout

block content

    h1(class='title')="Tweet Tunes"
        i(class='fa fa-twitter' aria-hidden='true')

    div(class='row')
        div(class='col-md-8 container')
            div(id='search-container')
                div(class='form-group')
                    input(type='text' class='form-control' id='keyword-input' placeholder='Enter Search...')

                button(id='play-button' class='btn btn-success')="Play Tweet"

            div(class='tweets')
        div(class='col-md-4 container')
            div(id='history-container')
                h2(class='subtitle')="History"
                div(id='tunes')


